@font-face {
  font-family: 'Brandon Grotesque Regular';
  src: url('./brandon-grotesque-regular.otf');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Brandon Grotesque Regular';
}

.hello {
  font-family: 'Brandon Grotesque Regular';
  color: red;
  background: url('./bell.svg');
}

.icon {
  margin-left: 25px;
  height: 50px;
  width: 50px;
}